* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* //////////////// */
/* navbar section */
/* //////////////// */
.navbar-container {
  height: 10vh;
  display: flex;
  margin: 2rem 7rem;
  justify-content: space-between;
}

.navbar-container > div:nth-child(2n-1) {
  height: inherit;
  display: flex;
  align-items: center;
}
.grow-list {
  display: flex;
  width: 100%;
  height: inherit;
  align-items: center;
  margin-left: 2rem;
}

.list {
  display: flex;
  list-style: none;
  min-height: max-content;
}

.list-item {
  padding: 0 2rem;
  font-size: 15px;
  color: #919191;
  font-weight: 600;
}

.list-item-active {
  color: #252525;
}

.list-item:hover {
  color: #252525;
}

.button-group {
  width: 270px;
}

.btn {
  background-color: #5955b3;
  color: #fff;
  border: none;
  border-radius: 7px;
  padding: 13px 25px;
}

/* //////////////// */
/* hero section */
/* //////////////// */

.banner-container {
  height: 80vh;
  display: flex;
  padding: 1rem 0 1rem 7rem;
}

.banner-img {
  display: flex;
  margin: auto;
  margin-right: 0;
}
.banner-img > img {
  width: 50vw;
}

.heading-text {
  color: #3c2f60;
  font-size: 70px;
  font-weight: 600;
  line-height: 5.5rem;
}

.heading-text > span {
  color: #5955b3;
}

.hero-left {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 6rem;
  margin-right: 20rem;
}

.description {
  color: #9c9c9c;
  margin-top: 2rem;
}

.hero-button {
  width: 14vw;
  padding: 20px 30px;
  margin-top: 5rem;
}

@media (max-width: 480px) {
  .grow-list {
    display: none;
  }

  .navbar-container {
    margin: 20px;
  }

  .nav-logo img {
    width: 80px;
  }

  .button-group {
    width: fit-content;
  }

  .nav-button {
    font-size: 14px;
    padding: 10px;
  }

  /*  */

  .hero-left {
    margin: 20px;
  }

  .banner-container {
    padding: 20px;
    flex-direction: column;
    position: relative;
  }

  .heading-text {
    font-size: 30px;
    line-height: 50px;
    width: 300px;
  }

  .hero-button {
    width: 180px;
    padding: 10px;
    margin-top: 30px;
  }

  /* .banner-img {
    width: inherit;
    height: inherit;
  } */

  .banner-img {
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 500px;
  }

  .banner-img img {
    position: absolute;
    height: 500px;
    width: 400px;
    opacity: 0.2;
  }
}
